/* COMMON CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-color: #1d4ed8;
  padding: 8px 30px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 6px;
}

.btn-outline {
  border: 2px solid #1d4ed8;
  padding: 8px 30px;
  color: #1d4ed8;
  font-size: 14px;
  border-radius: 6px;
}

/* NAVBAR CSS */
nav {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #575757;
  text-decoration: none;
  font-size: 14px;
}

/* Banner Section CSS */
.banner-section-parent {
  background-image: url(./assets/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
  height: 600px;
}

.banner-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(87, 69, 69, 0.288);
}

.banner-section-child {
  position: absolute;
  max-width: 600px;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 200px;

  left: 35%;
  top: 120px;
  z-index: 99999;
}

.banner-section-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.banner-section-content h1 {
  font-size: 50px;
}

.banner-section-btn {
  display: block;
  margin: 0 auto;
}

.banner-register-now-btn {
  font-size: 24px;
  padding: 14px 60px;
}

/* Speakers Section CSS */
.speakers-parent,
.secure-spot-parent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 70px 0;
  align-items: center;
}

.speakers-parent h2,
.secure-spot-parent h2,
.ai-recommended-tract-parent h2 {
  font-size: 46px;
}

.speakers-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.speakers-card-container .card,
.secure-spot-cards .card {
  border: 1px solid #9c989863;
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.speakers-sector {
  font-size: 12px;
  color: #1d4ed8;
  text-transform: uppercase;
}

.speakers-name {
  font-size: 16px;
  font-weight: bold;
}

.speakers-note {
  font-size: 12px;
  color: #575757;
}

/* Secure Your Section CSS */
.secure-spot-parent {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secure-spot-title-part {
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.secure-spot-cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.secure-spot-cards .card {
  padding: 34px;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-name {
  text-transform: uppercase;
  font-weight: bold;
  color: #575757;
}

.card-title h1 {
  font-size: 48px;
}

.card-title p {
  color: #575757e3;
  font-size: 14px;
}

.divider {
  margin: 20px 0;
  border-top: 1px solid #afa7a768;
}

.secure-spot-cards {
  background-color: #f8f9fb;
}

.secure-spot-cards ul {
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.secure-spot-cards ul li {
  font-size: 18px;
}

.secure-spot-card-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.secure-spot-card-btn {
  text-align: center;
  font-size: 16px;
}

.card-filled {
  background-color: #0d1b2a;
}

.card-filled .card-name {
  color: #93c5fd;
}

.card-filled h1 {
  color: #ffffff;
}

.card-filled p {
  color: #ffffff80;
}

.card-filled ul li {
  color: #ffffffcd;
  list-style: disc;
}

.card-filled ul li::marker {
  color: #60a5fa;
}

/* Footer CSS */
footer {
  background-color: #0d1b2a;
  padding: 50px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer-socials {
  color: #ffffff;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.footer-socials i:hover {
  color: #1d4ed8;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: #575757;
}

.footer-bottom ul {
  display: flex;
  gap: 30px;
}

.footer-bottom ul li {
  list-style: none;
}

.footer-bottom ul li a {
  text-decoration: none;
  color: #575757;
}
